body{
    font: 15px Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }

  /* Estilos globales */
  .contenedor{
    width:80%;
    margin:auto;
    overflow:hidden;
  }

  ul{
    margin:0;
    padding:0;
  }

  .boton1{
    height:38px;
    background:#e8491d;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
  }

  .oscuro{
    padding:15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
  }

  /* Encabezado **/
  header{
    background:#24282b;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#1293d4 5px solid;
  }

  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }

  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }

  header #marca{
    float:left;
  }

  header #marca h1{
    margin:0;
  }

  header nav{
    float:right;
    margin-top:10px;
  }

  header .resaltado, header .actual a{
    color:#1293d4;
    font-weight:bold;
  }

  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }

.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
.tg .tg-5sx5{font-weight:bold;font-style:italic;text-decoration:underline;font-size:12px;font-family:"Arial Black", Gadget, sans-serif !important;;background-color:#ffffff;color:#c0c0c0;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-vj7c{font-size:12px;font-family:Verdana, Geneva, sans-serif !important;;background-color:#3166ff;border-color:#fe0000;text-align:center;vertical-align:top}
.tg .tg-w62e{font-weight:bold;font-style:italic;font-size:12px;font-family:Verdana, Geneva, sans-serif !important;;background-color:#3166ff;border-color:#fe0000;text-align:center;vertical-align:top}
.tg .tg-kcpa{font-size:12px;background-color:#ffffff;color:#c0c0c0;border-color:inherit;text-align:left;vertical-align:top}

 table
 {
 margin: 0 auto;
 }
  /* Cajas */
  #cajas{
    margin-top:20px;
    background-color:#ffffff
  }

  #cajas .caja{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
  }

  #cajas .caja img{
    width:90px;
  }

  /* Lateral */
  aside#lateral{
    float:right;
    width:30%;
    margin-top:10px;
  }

  /* Main-col */
  article#main-col{
    float:left;
    width:65%;
  }


  /* Servicios */
  ul#servicios li{
    list-style: none;
    padding:20px;
    border: #cccccc solid 1px;
    margin-bottom:5px;
    background:#e6e6e6;
  }
    /*footer ----------------------------------------------*/
    footer{
        width: 100%;
        background: #35424a;
        color: white;
    }

    .container-footer-all{
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }

    .container-body{
        /*se pongan al lado*/
        display: flex;
    }
    .colum1{
        max-width: 400px;
    }
    .colum1 h1{
        font-size: 22px;

    }
    .colum1 p{
        font-size: 14px;
        color: #C7C7C7;
        margin-top: 20PX;
    }

    .colum2{
        max-width: 400px;
    }
    .colum2 h1{
        font-size: 22px;
    }
    .row{
    margin-top: 20px;
    display: flex;
    }

    .row img{
    width: 36px;
    height: 36px;
    }

    .row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
    }

    .colum3{
    max-width: 400px;
    }

    .colum3 h1{
    font-size: 22px;
    }

    .row2{
    margin-top: 20px;
    display: flex;
    }

    .row2 img{
    width: 36px;
    height: 36px;
    }

    .row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
    }

    .container-footer{
    width: 100%;
    background: #101010;
    }



    .copyright{
    color: #C7C7C7;
    }

    .copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    }

    .information a{
    text-decoration: none;
    color: #C7C7C7;
    }
  #alinearse
  {
  position: relative;
  top: 165px;
  }

#Solicitud
  {
  text-align:center;
font-family: "Times New Roman", Times, serif;
font-size: 23px;
letter-spacing: -0.8px;
word-spacing: 1.8px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: capitalize;
  }

  #Solicitud:focus {
  outline: none;
}
#Solicitud span {
  vertical-align: middle;
  line-height: 1.5em;
  transition: font-size 2s cubic-bezier(0, 1, 0, 1);
}
#Solicitud span:hover {
  font-size: 1.5em; /* This adds a hover effect */
  line-height: 1em;
  transition: font-size .2s cubic-bezier(0, 0.75, 0, 1);
}
#Solicitud span:active {
  font-size: 1em;
  text-shadow: none; /* Click to disable the 3D effect */
}
#Solicitud span::selection {
  background-color: red; /* This hides the selection */
}
